################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webhook-sample/bin/Debug/netcoreapp2.2
/webhook-sample/obj
/webhook-sample/bin/Release/netcoreapp2.2
/webhook-sample.tests/bin/Debug/netcoreapp2.2
/webhook-sample.tests/obj/Debug/netcoreapp2.2
/webhook-sample.tests/obj
/webhook-sample/Properties/PublishProfiles
/webhook-sample/Properties/launchSettings.json
/webhook-sample/appsettings.Development.json
